*{
	margin: 0;
	padding: 0;
}

table{
	width: 60%;
	margin: 0 auto;
	border-collapse:collapse;
	font-family:"微软雅黑";
	height:1000px;
}
table tr{
	border:1px solid #888888;
}
caption{
	font-size: 40px;
	margin-top: 100px;
	margin-bottom: 20px;
	color: rgba(147,147,147,1) ;
}

.head1{
	background-color:#87CEEB;
	height: 200px;
}
.head1 p{
	color:whitesmoke;
}
p{
	white-space:pre-line;
	color: rgba(147,147,147,1) ;
	font-size: 20px;
}
td h1{
	color: whitesmoke;
}
h3{
	color: rgba(147,147,147,1) ;
	font-size: 25px;
}

.head1 img{
	float: right;
	margin-right:10px;
}
.foot{
	height: 100px;
	text-align: center;
	margin-top: 50px;
}


